doctype html
html(lang="en")
  head
    title Hello!
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css")

  body
    div(class="jumbotron")
      h1 Data Analysis
      #container.col
      p Select an incident type to get info.
      p
        a(href="/api/rawdata", target="_blank") View Raw Data
        span &nbsp;|&nbsp;
        a(href="/api/analyze/all", target="_blank") View Cached Analysis Data
        span &nbsp;|&nbsp;
        a(onclick='getAnalysisForAll()') View Summary
        span &nbsp;|&nbsp;
        a(onclick='getTableData()') View All Data

      h6 Written by <a href="mailto:james@hotdang.ca">James Perih</a>, in Regina, Canada.

    div(class="container")

      p#data().
        &nbsp;

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js")
    script(type='text/javascript').

      function getAnalysisForAll() {
        var xml = new XMLHttpRequest();
        xml.onreadystatechange = function() {
          if (xml.readyState == 4 && xml.status == 200) {
            var results = JSON.parse(xml.responseText);
            console.log(results);

            var analysisString = '';

            Object.keys(results).forEach(function(key) {
              var incident = results[key];

              analysisString += `
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">${key}</h3>
                  </div>
                  <div class="panel-body">
                    <strong>Count: </strong>${incident.incidentCount}<br/>
                    <strong>Earliest Incident: </strong>${new Date(incident.earliestIncident).toDateString()}<br />
                    <strong>Latest Incident: </strong>${new Date(incident.latestIncident).toDateString()}
                  </div>
                </div>`;
            });

            document.getElementById("data").innerHTML = analysisString;
            window.scroll(0, 0);
          };
        }

        xml.open("GET", "/api/analyze/all", true);
        xml.send();
      }

      function getTableData() {
        var xml = new XMLHttpRequest();
        xml.onreadystatechange = function() {
          if (xml.readyState == 4 && xml.status == 200) {
            var results = JSON.parse(xml.responseText);
            var tableString = `
              <table id="dataTable">
                <thead>
                  <tr>
                    <td>ID</td>
                    <td>Inspection ID</td>
                    <td>Category</td>
                    <td>Date</td>
                    <td>Date Closed</td>
                    <td>Violation Type</td>
                  </tr>
                </thead>
                <tbody>`;

            results.forEach(function(result) {
              tableString += `
                <tr>
                  <td>${result.violation_id}</td>
                  <td>${result.inspection_id}</td>
                  <td>${result.violation_category}</td>
                  <td>${result.violation_date}</td>
                  <td>${result.violation_date_closed}</td>
                  <td><a style="cursor: pointer" onClick="getAnalysisFor(this.id)" id="${result.violation_type}">${result.violation_type}</a></td>
                </tr>`
            });
            tableString +="</tbody></table>";
            document.getElementById("data").innerHTML = tableString;
            $('#dataTable').DataTable();

            window.scroll(0, 0);
          };
        }

        xml.open("GET", "/api/rawdata", true);
        xml.send();
      }

      function getAnalysisFor(type) {
        var xml = new XMLHttpRequest();
        xml.onreadystatechange = function() {
          if (xml.readyState == 4 && xml.status == 200) {
            var results = JSON.parse(xml.responseText);
            var analysisString = `
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">${type}</h3>
                </div>
                <div class="panel-body">
                  <strong>Count: </strong>${results.incidentCount}<br/>
                  <strong>Earliest Incident: </strong>${new Date(results.earliestIncident).toDateString()}<br />
                  <strong>Latest Incident: </strong>${new Date(results.latestIncident).toDateString()}
                </div>
              </div>`;

            document.getElementById("data").innerHTML = analysisString;
            window.scroll(0, 0);
          };
        };

        xml.open("GET", "/api/analyze/" + type, true);
        xml.send();
      }
